$background: rgb(255, 255, 255);
$light-dark: rgb(43, 43, 43);
$lighter-dark: rgb(126, 126, 126);
$lightest-dark: rgb(238, 238, 238);

$shadow: 10px 6px 14px -1px rgba(118, 118, 118, 0.49);
$red: #ff595e;
$lightRed: #f27059;
$orange: #f4845f;
$lightOrange: #f79d65;
$yellow: #f7b267;
$smallFont: 15px;
$MediumFont: 20px;
$largeFont: 20px;
$XLFont: 30px;

$HeadlineFont: "Red Hat Display", sans-serif;
$ParagraphFont: "Gothic A1", sans-serif;
$SkillsFont: "Staatliches", cursive;

@mixin fullScreen {
  height: 100vh;
  width: 100vw;
  background-color: $background;
}

@mixin button($color) {
  padding: 10px 20px;
  align-self: center;
  background-color: transparent;
  border: none;
  color: $color;
  font-size: 20px;
  cursor: pointer;
}

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin buttonHover($color) {
  background-color: $color;
  border: 1px solid $color;
  animation: hover 0.5s ease-out alternate;
}

@keyframes hover {
  from {
    background-color: transparent;
    border: 1px solid white;
  }
  to {
    background-color: $yellow;
    border: 1px solid $yellow;
  }
}

@keyframes openDown {
  from {
    height: 0;
    top: 0;
  }
}

@keyframes openRight {
  from {
    width: 0;
    background-color: $red;
  }
}
@keyframes turn {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(5000%);
  }
  51% {
    transform: translateX(-5000%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes image {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes websiteImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes slideRight {
  from {
    transform: translateY(-100%);
    opacity: 0;
    color: $lightOrange;
  }
  to {
    opacity: 1;
    color: $red;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
    color: $lightOrange;
  }
  to {
    opacity: 1;
    // color: $red;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%) scale(0.8);

    opacity: 0.5;
  }
}

@keyframes slideUpwards {
  to {
    transform: translateY(-500%);
    opacity: 0;
  }
}

@keyframes slideUDownwards {
  from {
    transform: translateY(1000%);
    opacity: 0;
  }
}

@keyframes pop {
  0% {
    color: transparent;
  }
  5% {
    color: white;
  }
  95% {
    color: white;
  }
}
@keyframes popOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes popOutStay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce1 {
  0% {
    transform: translateY(1000%);
    transform: translateX(1000%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce2 {
  0% {
    transform: translateY(1000%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce3 {
  0% {
    transform: translateY(1000%);
    transform: translateX(-1000%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes color {
  0% {
    background: linear-gradient(135deg, $orange 0%, $lightRed 100%);
  }
}

@keyframes spread {
  from {
    width: 180px;
    // text-align: center;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
