@import "src/_variables.scss";

.page {
  height: 100%;
}
.message {
  width: 100%;
  @include flex(center, center);
  flex-direction: column;
  animation: image 1s;
  h1 {
    text-align: center;
    font-family: $ParagraphFont;
    font-size: 20px !important;
    font-weight: 100;
    color: black;
    width: 500px !important;
    cursor: none !important;
  }
}

.form {
  width: 100%;
  @include flex(center, center);
  flex-direction: column;
  animation: slideLeft 1s;
  h1 {
    text-align: center;
    font-family: $ParagraphFont;
    font-size: 20px !important;
    font-weight: 100;
    color: black;
    width: 500px !important;
    cursor: none !important;
  }
  h3 {
    border-bottom: 1px solid transparent !important;
    font-size: 20px !important;
    &:hover {
      transition: 0.5s;
      transform: scale(1.2);
    }
  }
  h3,
  input {
    overflow-x: scroll;
    width: 180px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid transparent;
    font-family: $ParagraphFont;
    border-bottom: none;
    text-align: center;
    color: black;
    cursor: pointer;

    &::placeholder {
      color: black;
      font-weight: 100;
      animation: open 1s;
      &:hover {
        color: $orange;
      }
    }

    &:focus {
      width: 350px;
      color: $orange;
      outline: none;
      border-bottom: 1px solid $yellow;
      animation: spread 0.5s;
    }

    &:focus::placeholder {
      color: $orange;
    }
    &:hover::placeholder {
      color: $orange !important;
    }
  }
}

.contactIcons {
  width: 100%;
  height: 250px;
  @include flex(center, center);
  color: black;
  cursor: pointer;
  font-size: 40px;
  animation: slideLeft 1s;
  a,
  a:active,
  a:visited {
    i {
      color: black !important;
    }
  }
  i {
    margin: 15px;
    &:hover {
      color: $red;
      transition: 0.1s;
      transform: scale(1.3);
    }
  }
}
